- var manifest = htmlWebpackPlugin.files.manifest
doctype
<!--[if lt IE 7 ]><html lang="en" class="ie6" manifest=manifest><![endif]-->
<!--[if IE 7 ]><html lang="en" class="ie7" manifest=manifest><![endif]-->
<!--[if IE 8 ]><html lang="en" class="ie8" manifest=manifest><![endif]-->
<!--[if IE 9 ]><html lang="en" class="ie9" manifest=manifest><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
html.no-js(lang="en", manifest=manifest)
  <!--<![endif]-->
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    title
      | #{htmlWebpackPlugin.options.title} | #{htmlWebpackPlugin.options.subtitle}
    meta(name="description", content=htmlWebpackPlugin.options.description)
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    each file, index in htmlWebpackPlugin.files.css
      link(href=file, rel="stylesheet")
  body
    if (htmlWebpackPlugin.options.appMountId)
      .container(id=htmlWebpackPlugin.options.appMountId)

    nav.navigation
      a.nav-item-link(href="#") Projects
      span.nav-divider
      a.nav-item-link(href="#") Contact

    header.header
      h1.title
        a.title-link(href="#") Adam Bergman

    .container
      section#hero
        svg.hero-svg#hero-svg(viewBox="0 0 375 250", xmlns="http://www.w3.org/2000/svg", xmlns:bx="http://www.boxy-svg.com/bx")
          path(d="M 85 0 L 0 156 L 110 250 L 375 58 L 85 0 Z", bx:origin="0.5 0.5")
        .hero
          h2.hero-title Full stack developer – Node, React, Angular, HTML, CSS

    .container
      section#projects
        .project
          img.project-image(src="http://placehold.it/150x150")
          h2.project-title Project 1
          ul.project-list
            li.project-list-item <strong>Company:</strong> Acme<br>
            li.project-list-item <strong>Techniques:</strong> Vanilla javascript, HTML, CSS
          p.project-text
            a.project-link(href="#") See it live &gt;
        .project
          img.project-image(src="http://placehold.it/150x150")
          h2.project-title Project 2
          ul.project-list
            li.project-list-item <strong>Company:</strong> Acme<br>
            li.project-list-item <strong>Techniques:</strong> Vanilla javascript, HTML, CSS
          p.project-text
            a.project-link(href="#") See it live &gt;

    .container
      section#contact
        .column
          h3 Produced by
          p
            a(href="http://fransvilhelm.com/") Adam Bergman
        .column
          h3 Contact
          ul
            li
              a(href="#") GitHub
            li
              a(href="#") Twitter
            li
              a(href="#") Facebook
            li
              a(href="#") freeCodeCamp

    each file, key in htmlWebpackPlugin.files.chunks
      script(src=file.entry)